---
name: Build os-packages image
on:
  push:
    tag:
      - 'v*'
    branch: [main, release-*, master]
  workflow_dispatch:
env:
  IMAGE_REGISTRY: "ghcr.io"
  REGISTRY_USER: "${{ github.repository_owner }}"
  REGISTRY_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  IMAGE_REPO: "ghcr.io/${{ github.repository_owner }}"

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubuntu-1804
            image_name: os-packages-ubuntu1804
            dockerfile: build/Dockerfile.os.ubuntu1804
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # fetch all git repo tag for define image tag
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_TOKEN }}

      - name: Prepare for build images
        shell: bash
        run: |
          git describe --tags --always | sed 's/^/IMAGE_TAG=/' >> $GITHUB_ENV

      - name: Build and push os-package images
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64,linux/armhf
          tags: |
            ${{ env.IMAGE_REPO }}/${{ matrix.image_name }}:${{ env.IMAGE_TAG }}

      - name: Gen new Dockerfile
        shell: bash
        run: |
          echo -e "FROM scratch\nCOPY --from=${{ env.IMAGE_REPO }}/${{ matrix.image_name }}:${{ env.IMAGE_TAG }} / /" > Dockerfile

      - name: Build image to local
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64,linux/armhf
          outputs: type=local,dest=./

      - name: Prepare for upload package
        shell: bash
        run: |
          mv linux_amd64/resources resources
          tar -I pigz -cf resources-${{ matrix.image_name }}-${IMAGE_TAG}-amd64.tar.gz resources --remove-files
          mv linux_arm64/resources resources
          tar -I pigz -cf resources-${{ matrix.image_name }}-${IMAGE_TAG}-arm64.tar.gz resources --remove-files
          mv linux_arm/resources resources
          tar -I pigz -cf resources-${{ matrix.image_name }}-${IMAGE_TAG}-arm.tar.gz resources --remove-files
          sha256sum resources-${{ matrix.image_name }}-${IMAGE_TAG}-{amd64,arm64,arm}.tar.gz > resources-${{ matrix.image_name }}-${IMAGE_TAG}.sha256sum.txt

      - name: Release and upload packages
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            resources-${{ matrix.image_name }}-${{ env.IMAGE_TAG }}.sha256sum.txt
            resources-${{ matrix.image_name }}-${{ env.IMAGE_TAG }}-amd64.tar.gz
            resources-${{ matrix.image_name }}-${{ env.IMAGE_TAG }}-arm64.tar.gz
            resources-${{ matrix.image_name }}-${{ env.IMAGE_TAG }}-armhf.tar.gz
